/* Стилизация аккордеона */
.accordion {
  width: 730px;
  height: 72px;
  background-color: var(--white);
  border: 1px solid var(--b-color);
  border-radius: var(--b-radius-md);
  padding: 24px 32px;
  padding-right: 50px;
  position: relative;
}

summary:focus{
  outline: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.accordion__item {
  margin-bottom: 8px;
  border: 1px solid #ACB5BD;
  border-radius: 8px;
}

.accordion__item[open] {
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__summary {
  display: block;
  padding: 24px 32px;
  cursor: pointer;
  list-style: none;
}

.accordion__content {
  display: block;
  padding: 0 32px;
  padding-bottom: 24px;
  margin: 0;
}
