html,
body {
    height: 100%;
}

body {
    margin: 0px !important;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}


.wrapper {
    color: white;
}

.header-text__wrapper {
    background-color: red;
    width: 100%;
    height: 100px;
    display: flex;
}

.header__text {
    display: inline-block;
    margin: auto;
    font-size: 40pt;
}

.nav__list {
    text-decoration: none;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: orange;
}

.nav__item {
    display: inline-block;
    padding: 10px;

}

.nav__href {
    text-decoration: none;
    font-size: 20pt;
    color: white;
}

.main .container {
    padding: 5px;
    background-color: greenyellow;

}

.main__article {
    background-color: burlywood;
    margin: 10px 0;
    padding: 20px 0;
}

.main__header {
    font-size: 20pt;
    padding: 20px 10px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    background-color: blue;
    padding: 20px 0;
}

.footer__text {
    display: inline-block;
    margin: auto;
    font-size: 30pt;
}
