.histogram {
  width: 354px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 18px; 
  padding: 16px 24px;  
}

.histogram__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.histogram__orders {
  margin-bottom: 20px;  
}

.histogram__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.histogram__count {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.histogram__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  margin-top: 19px;

}

.histogram__items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.histogram__item {
  flex-grow: 1;
  background-color: var(--bright-blue);
  flex-basis: 20%;
  border: 1px solid var(--white);
}