@import './normalize.css';
@import '../fonts/fonts.css';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    font-family: Roboto, sans-serif;
}

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --dark-purple: #5028C6;    
    --blue: #374FC7;
    --dark_blue: #2342C0;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);    
}


html, body {
    height: 100%;
    font-size: 0;
}

/* other */
    --b-radius-sm: 4px;
    --b-radius-md: 8px;
    --b-radius-lg: 10px;
    --b-radius-xlg: 16px;
    --b-radius-half: 50%;
    --b-color: var(--gray-3);
    --half-opacity: .5;
    --skeleton-line-gradient: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
