.footer {
    grid-area: footer;
}

.footer__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    margin: 0 auto;
    padding: 50px 0;
}

.footer__descr-template {
    display: grid;
    padding: 50px 0;
    grid-template-columns: minmax(auto, 640px);
    justify-content: center;
}

.footer__text {
    font-family: 'Inter Medium';
    font-size: 38px;
    line-height: 48px;
    color: var(--black);
    display: block;
    padding: 16px 0;
}

.footer__content {
    display: block;
    font-family: 'Inter Regular';
    text-align: center;
    line-height: 18px;
    color: var(--grey-3);
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
