.preview {
  background: #F9FAFC;
  padding: 68px 0 92px;
  overflow: hidden;
}

.preview__card-container {
  display: inline-block;
  height: 367px;
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
}

.preview__card {
  
  background: #3517bd;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px; 
}

.preview__container {
  margin: 0 -15px;
}
